.googlebox {
  margin: 200px auto;
  padding: 30px;
  width: 460px;
  height: 530px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(102, 193, 9, 0.2);
  font-size: 18px;
}
.mentomenti {
  width: 140px;
  height: 34px;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
}
.mentomenti:focus {
  background-color: #66c109;
  color: white;
}
.selectRegion {
  margin-top: 40px;
  width: 120px;
  height: 34px;
  font-size: 16px;
  padding-left: 12px;
}

.textInput {
  width: 300px;
  height: 34px;
  padding-left: 10px;
}
