.Google {
  display: block;
  background: white;
  color: #444;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  font-weight: 600;
  border: thin solid #888;
  box-shadow: 1px 1px 1px gray;
}

.Google:hover {
  cursor: pointer;
  background-color: #86a8e7;
  opacity: 0.5;
  color: white;
}
